.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/
.DS_Store
.opengem/
*.nrrd
*.vtu
*.stl
.idea/
.vscode/
vendor/
.pytest_cache/
*.egg-info/
src/**/__pycache__/
tests/**/__pycache__/
